body{
    margin: 0px;
    background-color: rgb(215, 247, 247);
}

#header, #footer{
    background-color: rgb(56, 54, 54);
    color: whitesmoke; /* text color */
    /*height: 60px;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

#title{
     border: 2px solid whitesmoke;
     width: 150px;
     margin: 10px;
     padding: 10px;
     margin-left: 70px;
     font-size: 20px;
     font-weight: bold;
     text-shadow: 5px 5px 15px rgb(27, 192, 41);
     border-radius: 10px;
     text-align: center;
     float: left;
}

#menu {
    float:left;
}

#menu li {
    float: left;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
}

#menu li:hover {
    float: left;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    background-color: whitesmoke;
    color:rgb(56, 54, 54);
    border-radius: 5px;
    padding: 2px;
}

#slide-area{
    height: 300px;
    background-color: rgb(172, 164, 164);
}

#slide-area #slide-show {
    height: 100%;
    margin-left: 10%;
    width: 80%;
    background-color: white;
    position: relative;
}

#slide-area #slide-show #img1 {
    height: 100%;
    width: 100%;
}

.icon{
    width: 45px;
    height: 45px;
    cursor: pointer;
    
}

#left-icon {
    position: absolute;
    top:45%;
    left: 4%;
}

#right-icon {
    position: absolute;
    top:45%;
    right: 4%;
}    

.icon:hover {
    transform: scale(1.5,1.5);
}

#footer {
    text-align: center;
    padding: 20px;
}


#header-icons {
    height: 100%;
    width: 100%;
}

.hicon{
    width: 45px;
    height: 45px;
    cursor: pointer;
    
}

#fb-icon {
    position: absolute;
    top:2%;
    right: 8%;
}

#twitter-icon {
    position: absolute;
    top:2%;
    right: 5%;
}    

#instra-icon {
    position: absolute;
    top:2%;
    right: 2%;
}   

.hicon:hover {
    transform: scale(1.2,1.2);
}


.arrowicon {
    position: absolute;
    width: 45px;
    height: 45px;
    cursor: pointer;
    right: 0%;    
}



#downarrow {
    display: none; 
}  





